// -------------------------------------------------
// ### FONTS ###
// -------------------------------------------------


//
// 'IMPORTS / @FONT_FACE'
//

@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


//
// 'USE'
// 

@mixin font-heading-1{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

@mixin font-main{
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
}

@mixin font-heading-2{
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    text-shadow: 1px 1px 5px rgba($color: #000, $alpha: 0.5);
}

@mixin blockquote-font{
    font-family: 'Special Elite', cursive;
    font-weight: 400;
}