// ---------------------------------------------
// ### VARIABLES ###
// ---------------------------------------------

//
// 'COLORS'
//

// --- BACKGROUND COLORS ---

$color-background-blue: #94C4FB;
$color-background-second: #B4D6FC;

$color-main-triad-partner-1: #FCACA7;
$color-main-triad-partner-2: #97CD9E;

// --- FONT COLORS ---

$color-font-dark: #314965;
$color-font-dark-lighter: rgba(49, 73, 101, 0.3);
$color-font-dark-2: #373737;
$color-font-dark-2-lighter: rgba(55, 55, 55, 0.7);
$color-font-light: #fff;
$color-font-green: #CAFE37;


// --- DIVERSE COLORS ---

$color-blue-dark: #0086E8;
$color-blue-light: #7DE5FA;
